<h1>choose the prize</h1>
<h1>your id is <%= @user_id %></h1>
<h1>your name is "<%= @name %>"</h1>
<h1>your coin is "<%= @coin %>"</h1>
<h1>all bet (min = 0)</h1>
<form action="bet_prize_result" method="post">
<p>景品１: </p><input type="number" name="prize1" value="0" required><br>
<p>景品２: </p><input type="number" name="prize2" value="0" required><br>
<p>景品３: </p><input type="number" name="prize3" value="0" required><br>
<p>景品４: </p><input type="number" name="prize4" value="0" required><br>
<p>景品５: </p><input type="number" name="prize5" value="0" required><br>
<input type="submit" value="send">
