<h1>home</h1>
<h1>your id is <%= @user_id %></h1>
<h1>your name is "<%= @name %>"</h1>
<h1>your coin is "<%= @coin %>"</h1>
<form method="get">
    <button formaction="bet_question1">問題１の選択画面に移動します</button><br>
    <button formaction="bet_question2">問題２の選択画面に移動します</button><br>
    <button formaction="bet_question3">問題３の選択画面に移動します</button><br>
    <button formaction="bet_question4">問題４の選択画面に移動します</button><br>
    <button formaction="bet_question5">問題５の選択画面に移動します</button><br>
    <button formaction="bet_prize">景品の選択画面に移動します</button><br>
</form>
<br><br><br>
<% if @already_bet %>
<h1>your prize1 bet is "<%= @prize1_bet %>"</h1>
<h1>your prize2 bet is "<%= @prize2_bet %>"</h1>
<h1>your prize3 bet is "<%= @prize3_bet %>"</h1>
<h1>your prize4 bet is "<%= @prize4_bet %>"</h1>
<h1>your prize5 bet is "<%= @prize5_bet %>"</h1>
<% end %>

<table>
<tr>
  <td>id</td>
  <td>name</td>
  <td>coin</td>
</tr>
<% @staffmemberdatas.each do |data|  %>
<tr>
  <td><%= data.id %></td>
  <td><%= data.name %></td>
  <td><%= data.coin %></td>
</tr>
<% end %>
</table>
