<form method="get">
    <button formaction="operator/coin_status">皆さんのコイン状況を表示</button><br>
    <button formaction="operator/prize_status">皆さんの景品投票状況を表示</button><br><br><br>
    <button formaction="operator/question1_status">問題１の回答状況を表示</button><br>
    <button formaction="operator/question2_status">問題２の回答状況を表示</button><br>
    <button formaction="operator/question3_status">問題３の回答状況を表示</button><br>
    <button formaction="operator/question4_status">問題４の回答状況を表示</button><br>
    <button formaction="operator/question5_status">問題５の回答状況を表示</button><br><br><br>
    <button formaction="operator/prize1_status">景品１の投票状況を表示</button><br>
    <button formaction="operator/prize2_status">景品２の投票状況を表示</button><br>
    <button formaction="operator/prize3_status">景品３の投票状況を表示</button><br>
    <button formaction="operator/prize4_status">景品４の投票状況を表示</button><br>
    <button formaction="operator/prize5_status">景品５の投票状況を表示</button><br>
</form>

