<h1>prize status of all members</h1>

<form method="get">
    <button formaction="/operator">ホームに戻る</button><br>
</form>

<table>
<tr>
  <td>id</td>
  <td>name</td>
  <td>prize_bet_flag</td>
  <td>prize1_bet</td>
  <td>prize2_bet</td>
  <td>prize3_bet</td>
  <td>prize4_bet</td>
  <td>prize5_bet</td>
</tr>
<% @staffmemberdatas.each do |data|  %>
<tr>
  <td><%= data.id %></td>
  <td><%= data.name %></td>
  <td><%= data.prize_bet_flag %></td>
  <td><%= data.prize1_bet %></td>
  <td><%= data.prize2_bet %></td>
  <td><%= data.prize3_bet %></td>
  <td><%= data.prize4_bet %></td>
  <td><%= data.prize5_bet %></td>
</tr>
<% end %>
</table>
